<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="Service1Soap2">
                    <security mode="Transport" />
                </binding>
                <binding name="Service1Soap3" />
                <binding name="Service1Soap">
                    <security mode="Transport" />
                </binding>
                <binding name="Service1Soap1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://localhost:44340/Service1.asmx" binding="basicHttpBinding"
                bindingConfiguration="Service1Soap2" contract="WSDoktori.Service1Soap"
                name="Service1Soap1" />
            <endpoint address="https://localhost:44387/Service1.asmx" binding="basicHttpBinding"
                bindingConfiguration="Service1Soap" contract="WSBolnickiPodaci.Service1Soap"
                name="Service1Soap" />
        </client>
    </system.serviceModel>
</configuration>